
.App {
    padding: 10px;
justify-content: center;
}

.video-card {
    display: flex;
    display: flex;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;

}

.video-image {
    width: 240px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
    margin-right: 20px;
}

.video-info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video-title {
    font-size: 18px;
    margin: 0;
    color: #333;
    font-size: larger;
    font-family: cursive;
    font-weight: bold;
}

.video-description {
    color: #555;
    margin-top: 20px;
}